@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
body{
    margin:30px;
    padding: auto;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calculator{
    margin: 50px;
    padding-top: 10px;
    width: fit-content;
    border-radius: 15px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    color: antiquewhite;
    font-family: 'Michroma', sans-serif;
    font-weight: 700;
    font-size: 15px;
}
input{
    margin: 15px;
    margin-top: 0px;
    padding: 15px;
    text-align: right;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
/*.preview,.current{
    margin: auto;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.preview{
    font-size: 16px;
    color: grey;
}
.current{
    font-size: 32px;
}*/
table{
    padding: 20px;
    width: fit-content;
}
button{
    margin: 5px;
    width: 50px;
    height: 40px;
    border-radius: 25%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
#ac{
    background-color: red;
    color: antiquewhite;
}
#equals{
    background-color: orange;
    color: antiquewhite;
}